.bloop
/.metals
/R/aibd/.Rproj.user
/R/aibd_*.tar.gz
/R/aibd/inst/java/scala-*/*.jar
/R/aibd/java/*.jar
/R/aibd.Rcheck
/R/aibd/man
/R/aibd/NAMESPACE
/deliveries/aibd_*.tar.gz
/deliveries/aibd.Rcheck
.Rhistory
.RData
.Rproj.user
/target
/project/target
/project/project
/tmp
/.idea
/R/aibd/R/testing_code.R
/R/aibd/R/prFeatureAllocaiton-Jeremy.R
/R/aibd.partitions.Rbin
/poster/Portrait/ibpPoster.aux
/poster/Portrait/ibpPoster.log
/poster/Portrait/ibpPoster.nav
/poster/Portrait/ibpPoster.out
/poster/Portrait/ibpPoster.snm
/poster/Portrait/ibpPoster.synctex.gz
/poster/Portrait/ibpPoster.toc
/poster/Landscape/ibpPoster.aux
/poster/Landscape/ibpPoster.log
/poster/Landscape/ibpPoster.nav
/poster/Landscape/ibpPoster.out
/poster/Landscape/ibpPoster.snm
/poster/Landscape/ibpPoster.synctex.gz
/poster/Landscape/ibpPoster.toc

