/R/aibd2/.Rproj.user
/R/aibd2_*.tar.gz
/R/aibd2/inst/java/scala-*/*.jar
/R/aibd2/java/*.jar
/R/aibd2.Rcheck
/R/aibd2/man
/R/aibd2/NAMESPACE
/deliveries/aibd2_*.tar.gz
.Rhistory
.RData
.Rproj.user
/target
/project/target
/project/project
/tmp
/.idea
/R/aibd2/R/testing_code.R
/R/aibd2/R/prFeatureAllocaiton-Jeremy.R
/R/aibd2.partitions.Rbin
/poster/Portrait/ibpPoster.aux
/poster/Portrait/ibpPoster.log
/poster/Portrait/ibpPoster.nav
/poster/Portrait/ibpPoster.out
/poster/Portrait/ibpPoster.snm
/poster/Portrait/ibpPoster.synctex.gz
/poster/Portrait/ibpPoster.toc
/poster/Landscape/ibpPoster.aux
/poster/Landscape/ibpPoster.log
/poster/Landscape/ibpPoster.nav
/poster/Landscape/ibpPoster.out
/poster/Landscape/ibpPoster.snm
/poster/Landscape/ibpPoster.synctex.gz
/poster/Landscape/ibpPoster.toc

